h1 {
      color: #990000;
      font-variant: small-caps;
}

a {
      font-stretch: expanded;
}

.w3-modal {
      color: red;

h3 {
  color: #990000;
  font-variant: small-caps;
}

a {
      font-stretch: expanded;
      font-weight: bolder;
}
